.body {
    background-color: #fafafa;
}


.box-card {
    /*width: 480px;*/
    box-shadow: 50px 50px 100px 10px rgba(0,0,0,.1)!important; /* 设置阴影的样式 */
    border-radius: 20px!important;
    border: 1px solid #dedede!important;

}



.container{
    display: flex;
    justify-content: center;
    align-content: center;
}