<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="referrer" content="no-referrer"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <includetail>
        <div align="center">
            <div style="margin: 8px;">
                <div>
                    <br>
                    <span>
                        <div
                             style="word-break: break-all;box-sizing:border-box;text-align:center;min-width:320px; max-width:660px; border:1px solid #f6f6f6; background-color:#f7f8fa; margin:auto; padding:20px 0 30px; font-family:'helvetica neue',PingFangSC-Light,arial,'hiragino sans gb','microsoft yahei ui','microsoft yahei',simsun,sans-serif">
                            <div class="main-content" style="">
                                <table style="width:100%;font-weight:300;margin-bottom:10px;border-collapse:collapse">
                                    <tbody>
                                    <tr style="font-weight:300">
                                        <td style="width:3%;max-width:30px;"></td>
                                        <td style="max-width:600px;">
                                            <div  style="width:92px; height:25px;">
                                                <a href="">
                                                    <img border="0" src="https://note.youdao.com/yws/api/personal/file/WEB82aedc32de54f1dd9db72341dff006dd?method=download&shareKey=dacbe5faae61cbb2ae9a6363d9a430c1"
                                                         style="width:35px; height:35px;display:block">
                                                </a>
                                            </div>

                                            <p style="height:2px;background-color: #00a4ff;border: 0;font-size:0;padding:0;width:100%;margin-top:20px;"></p>

                                            <div  style="background-color:#fff; padding:23px 0 20px;box-shadow: 0px 1px 1px 0px rgba(122, 55, 55, 0.2);text-align:left;">
                                                <table style="width:100%;font-weight:300;margin-bottom:10px;border-collapse:collapse;text-align:left;">
                                                    <tbody>

                                                    <tr style="font-weight:300">

                                                        <td style="width:3.2%;max-width:30px;"></td>

                                                        <td style="max-width:480px;text-align:left;">


                                                            <h1  style="font-size: 20px; line-height: 36px; margin: 0px 0px 22px;" th:text="'亲爱的：'+${name}">
                                                                亲爱博客主：XXX
                                                            </h1>


                                                            <p  style="line-height: 24px; margin: 6px 0px 0px; overflow-wrap: break-word; word-break: break-all;">
                                                                <p style="color: #6a9fb5; ">
                                                                    有人在您的博客申请了友链哦！
                                                                </p>
                                                                <p style="color: #6a9fb5;">
                                                                     请您及时登录博客后台查看并处理友链申请。如果对方博客符合您的友链标准，请不要犹豫，与他们建立友链关系，互相支持，共同进步！
                                                                </p>
                                                            </p>



                                                            <p style="line-height: 24px; margin: 6px 0px 0px; overflow-wrap: break-word; word-break: break-all;">
                                                                <span style="color: rgb(51, 51, 51); font-size: 14px;">

                                                                    <a href="https://www.chenzhen.space/admin/friendlinks"  title=""
                                                                       style="color: rgb(0, 164, 255); text-decoration: none; word-break: break-all; overflow-wrap: normal; font-size: 14px;">
                                                                        点击进入友链管理
                                                                    </a>
                                                                </span>
                                                            </p>


                                                            <dl style="font-size: 14px; color: rgb(51, 51, 51); line-height: 18px;">
                                                                <dd style="margin: 0px 0px 6px; padding: 0px; font-size: 12px; line-height: 22px;">
                                                                    <p  style="font-size: 14px; line-height: 26px; word-wrap: break-word; word-break: break-all; margin-top: 32px;">
                                                                        此致
                                                                        <br>
                                                                        <strong>陈震（chenzhen）</strong>
                                                                    </p>
                                                                </dd>
                                                            </dl>
                                                        </td>

                                                        <td style="width:3.2%;max-width:30px;"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>


                                            <div  style="text-align:center; font-size:12px; line-height:18px; color:#999">
                                                <table style="width:100%;font-weight:300;margin-bottom:10px;border-collapse:collapse">
                                                    <tbody>
                                                    <tr style="font-weight:300">

                                                        <td style="width:3.2%;max-width:30px;"></td>

                                                        <td style="max-width:540px;">

                                                            <p style="text-align:center; margin:20px auto 14px auto;font-size:12px;color:#999;">
                                                                此为系统邮件，请勿回复。

                                                            </p>

                                                            <p  style="max-width: 100%; margin:auto;font-size:12px;color:#999;text-align:center;line-height:22px;">
                                                                <img border="0" src="https://note.youdao.com/yws/api/personal/file/WEB357bbc665fb5c1e6f0666babc9c087b1?method=download&shareKey=3c27290934bbc142db6f46b2489bfe79"
                                                                     style="width:64px; height:64px; margin:0 auto;">
                                                                <br>
                                                                扫描微信，添加我的个人账号
                                                                <br>
                                                            </p>
                                                        </td>

                                                        <td style="width:3.2%;max-width:30px;"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                        <td style="width:3%;max-width:30px;"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </includetail>
</div>

</body>
</html>